.homepage-box{
    font-size: 40px;
}

.heading{
    font-size: 150px;
    font-weight: bold;
}

.sub-heading{
    font-size: 70px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}