@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  background-color: #191919;
  color: #fff;
}
/* body a{
  color: #fff;
} */

.navbar-box{
  min-width: 500px;
}
.container{
    min-width: 575px;
}

.search-box{
  margin: 25px auto;
}

.article-box{
  margin-bottom: 25px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.article-title{
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

.article-subtitle{
  color: grey;
}

.site-link{
  margin: auto 5px;
}

.loading-box{
  text-align: center;
  font-weight: bold;
}